body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

header .menu-navegacion ul {
    list-style: none;
    padding: 0;
    display: inline-flex;
}

header .menu-navegacion ul li {
    margin: 0 15px;
}

header .menu-navegacion a {
    text-decoration: none;
    color: white;
    font: bold;
}

header .menu-navegacion a:hover {
    text-decoration: underline;
}

main {
    flex-grow: 1;
}

.contenedor-mapas {
    margin: 20px auto;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 20px;
}

.map-card {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.map-card h2 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 10px;
    display: flex;
    text-align: center;
    align-items: center;
}

#mapa1 h2 {
    font-family: "Roboto", sans-serif;
}

#mapa2 h2 {
    font-family: "Montserrat", sans-serif;
}

#mapa3 h2 {
    font-family: "Oswald", sans-serif;
}

.map-card img {
    width: 150px;
    height: auto;
    margin-left: 10px;
}

.mapa {
    width: 100%;
    height: 400px;
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
}

.descripcion {
    font-size: 1.1em;
    color: #555;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 40px;
}