body {
    min-height: 100vh;
    font-family: "Arial", sans-serif;
    line-height: 1.6;
    background-color: #F9F9F9;
    color: #333;
    display: flex;
    flex-direction: column;
}
header {
    background-color: #4a90e2;
    color: white;
    text-align: center;
    
}
main {
    padding: 2rem;
    flex-grow: 1;
}
