/* Cuerpo de la página */
body {
    min-height: 100vh;
    margin: 0;
    font-family: "Arial", sans-serif;
    line-height: 1.6;
    background-color: #F9F9F9;
    color: #333;
    display: flex;
    flex-direction: column;
}

/* Cabecera */
header {
    background-color: #4a90e2;
    color: white;
    text-align: center;
    padding: 1.5rem 0;
}
header h1{
    font-size: 2rem;
    font-style: normal;
}

/* Menú de navegación */
nav{
    background-color: #34495E;
    padding: 1rem 0;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
}
nav ul li{
    margin: 0 1.5rem;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    transition: color 0.5s ease;
}
nav ul li a:hover{
    color:  #1ABC9C;
}

/* Contenido principal */
main {
    flex-grow: 1; 
    padding: 2rem;
}
main h2  {
    text-align: center;
}
.texto{
    padding: 20px;
}

footer{
    background-color: #4A90E2;
    color: white;
    text-align: center;
    padding: 1rem 0;
    font-size: 0.9rem;
}

